@charset "UTF-8";

@font-face {
	font-family: line-seed;
	font-style: normal;
	font-weight: 100;
	src: url("/asset/font/LINESeedKR-Th.woff") format("woff");
}
@font-face {
	font-family: line-seed;
	font-style: normal;
	font-weight: 400;
	src: url("/asset/font/LINESeedKR-Rg.woff") format("woff");
}
@font-face {
	font-family: line-seed;
	font-style: normal;
	font-weight: 700;
	src: url("/asset/font/LINESeedKR-Bd.woff") format("woff");
}

body {
    font-family: line-seed, Arial, Helvetica, sans-serif;
    background-color: #E5E5CB;
    color: #252525;
}

header {
    background-color: #3C2A21;
}
header a {
    color: #FFFFFF;
}
header .title a:first-child{
    display: inline-block;
    margin-right: 10px;
}
header .title .profile {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
}
header .title a:last-child:hover {
    color: #FFFFFF;
}
header .default-nav a.nav-link {
    color: #FFFFFF;
}
header .default-nav a.nav-link.now-link {
    color: #D5CEA3;
}
header .mobile-nav a.dropdown-toggle {
    color: #FFFFFF;
}
header .mobile-nav a.now-link {
    font-weight: bold;
    color: #3C2A21;
}

main div.container {
    background-color: #F4F7F7;
}
main div.banner {
    background-color: #D5CEA3;
}
main div.banner-content {
    color: #252525;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 35px;
    font-size: 20px;
}
main div.banner-content strong {
    color: #3C2A21;
}
